<ion-header>
	<ion-toolbar>
		<ion-title>Cars</ion-title>
		<ion-button slot="end" (click)="onCreateCar()">Add car</ion-button>
		<ion-icon slot="end" name="log-out-outline" (click)="onLogout()"></ion-icon>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cars">
	<ion-grid>
		<ion-row>
			@for(car of cars; track car) {
			<ion-col size="12" size-lg="3">
				<ion-card (click)="onCarDetails(car)">
					<ion-img [src]="car.photo" alt="{{ car.brand }} {{ car.model }}"></ion-img>
					<ion-card-header>
						<ion-card-title>Brand : {{ car.brand }} </ion-card-title>
						<ion-card-title>Model : {{ car.model }} </ion-card-title>
						<ion-card-title>License Plate : {{ car.licensePlate }}</ion-card-title>
					</ion-card-header>
				</ion-card>
			</ion-col>
			}
		</ion-row>
	</ion-grid>
</ion-content>